VITE_EMAILJS_SERVICE_ID=service_210cnhv
VITE_EMAILJS_TEMPLATE_ID=template_7ccrg6h
VITE_EMAILJS_PUBLIC_KEY=vYkdlJ4R3NFosEtFS
VITE_EMAILJS_TO_NAME=Ranjot Sandhu
VITE_EMAILJS_TO_EMAIL=00ranjotsandhu@gmail.com
